@import '/stylesheets/shared/variables.css';

.navbar {
  width: 80px;
  background-color: var(--primary-color);
  color: var(--background-color);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbarList li {
  margin-right: 30px;
}

.navbarList li:last-child {
  margin-right: 0;
}
