@import 'shared/variables.css';
@import '/public/stylesheets/grapesStylesheet/form.css';

body{
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--canvas-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color:var(--primary-color); 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: var(--border-radius); 
  cursor: pointer;
}


video {
  position: relative;
  width: 60%;
  height: auto;
}

/* FAQ Block Styles */
.input-label-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 20px;
}

.input-label-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.input-label {
  margin-right: 10px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
}

/* Styled FAQ Styles */
.styled-faq {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-heading {
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
/* customStyles.module.css */

.publish-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

#publish-panel-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}



