@import 'shared/variables.css';

body{
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);

}

.header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
}

.button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 8px 16px;
  cursor: pointer;
}

html{
  margin: 0;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar{
  display: none;
}

.gjs-pn-views-container {
  height: 95vh !important;
  padding: 42px 0px 0px;
  right: 0px;
  width: 15%;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
}