/* customStyles.module.css */
.gjs-blocks-text {
  background-color: lightgray;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

/* Style for the text content within the Text block */
.gjs-blocks-text p {
  font-size: 16px;
  color: #333;
}

.editorContainer {
    background-color: #f0f0f0;
  }
  
  .gjs-custom-editor {
    border: 1px solid #731818;
    background-color: #a84141;
  }
  .gjs.editor-wrapper{
    background-color: #731818;
  }

  .form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
}
.custom-red-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}