@import '/stylesheets/shared/variables.css';

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--canvas-border-color);
  border-radius: var(--border-radius);
  background-color: var(--canvas-background-color);
  padding: 20px;
}

form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label, form > div > label {
  margin-right: 10px;
}

input, textarea{
  display: inline-block;
  width: 75%;
  padding: 8px;
  border: 1px solid var(--canvas-border-color);
  border-radius: var(--border-radius);
  background-color: transparent;
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--canvas-border-color);
  border-radius: var(--border-radius);
  background-color: transparent;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

form > div > button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

select {
  padding: 8px;
  border: 1px solid var(--canvas-border-color);
  border-radius: var(--border-radius);
  background-color: transparent;
  cursor: pointer;
}

select:hover {
  border-color: #999;
}

select:focus {
  outline: none;
  border-color: #555;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  border: 1px solid var(--canvas-border-color);
  border-radius: 50%;
  background-color: transparent;
  margin-right: 8px;
  display: inline;
  position: relative;
  cursor: pointer;
}

